@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
}

.card{
    position: relative;
    width: 350px;
    height: 190px;
    background: rgb(250, 250, 250);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.38);
    transition: 0.5s;
}

.card:hover {
    height: 350px;
    margin-top: 4rem;
}

.img-box {
    position: absolute;
    left: 50%;
    top: -20%;
    transform: translateX(-50%);
    width: 136px;
    height: 136px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;
}

.card:hover .img-box {
    width: 180px;
    height: 180px;
}

.img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*=====Content=====*/

.card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card .content .details {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 1s;
    transform: translateY(150px);
}

.card:hover .content .details {
    transform: translateY(0px);
}

.card .content .details h3 {
    font-size: 1.25em;
    font-weight: 600;
    color: rgba(34, 34, 34, 0.944);
    line-height: 1.2em;
}

.card .content .details h3 span {
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}

.card .content .details .data {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card .content .details .data h3 {
    font-size: 1em;
    color: rgb(49, 49, 49);
    line-height: 1.2em;
    font-weight: 600;
}

.card .content .details .data h3 span {
    font-size: 0.85em;
    font-weight: 400;
    opacity: 0.5;
}

.card .content .details .action-btn {
    display: flex;
    justify-content: space-between;
}

.card .content .details .action-btn button {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    background: #0092ca;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.card .content .details .action-btn button:hover {
    background: #00b3fa;
    color: #fff;
}

.card .content .details .action-btn button:nth-child(2) {
    border: 1px solid #5c5c5c;
    color: #999;
    background: #fff;
    transition: 0.3s;
}

.card .content .details .action-btn button:hover:nth-child(2) {
    color: rgb(255, 255, 255);
    background: #4f4f4f;
}